<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>

  <body style="background-color: rgb(120, 120, 168) ;">
    
      
 
    
    <% if(name) { %>

    <h2><%= new Date(); %> <%= name%></h2>

    <%}%>
  
  </body>
</html>
